
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200&display=swap");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Poppins:wght@200&display=swap');

:root {
  --accent: #6fe890;
  --background-dark: #000000;
  --background: #000000;
  --white: #dadadd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background-color: var(--background);
}

li, ul, button {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  color: var(--white);
  text-decoration: none;
}

/* header {
  display: flex;
  background-color: var(--background);
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
} */

.navbar-content {
  background-color: var(--background);
  padding: 10px 10px 10px 10px;
  border-radius: 0.5em;
  margin: 0px 30px 0px 30px;
}

.nav {
  overflow: hidden;
  position: relative;
  font-family: 'Poppins',sans-serif;
  font-weight: 800;
  font-size: 20px;
  color: var(--white);
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

.nav a {
  color: var(--white);
  text-decoration: none;
  padding: 5px;
  transition: 0.3s;
}

.nav a:hover {
  color: var(--background-dark);
  background-color: #8ad8d1;
}

.nav li {
  display: inline-block;
}

.nav ul {
  display: flex;
}

ul::after {
  display: table;
  clear: both;
}

li {
  float: left;
  padding: 0px;
}

@media (max-width: 500px) {
  .nav {
    font-size: 15px;
  }
}

.welcome-section {
  /* width: 100%; */
  font-family: 'Poppins', sans-serif;
  color: var(--white);
  height: 100vh;
  font-size: 40px;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
  left: 50%;

  background-color: var(--background);
}

@media (max-width: 768px) {
  .welcome-section {
    /* margin: 2em 2em 2em 2em; */
    /* padding-top: 200px; */
    /* padding-bottom: 200px; */
    height: 100vh;
  }
  .welcome-section h2 {
    font-size: 32px;
  }
  .welcome-section h4 {
    font-size: 16px;
  }
  }

@media (max-width: 500px) {
  .welcome-section h2 {
    font-size: 28px;
  }

  .welcome-section h4 {
    font-size: 12px;
  }
}

.content {
  font-family: 'Poppins', sans-serif;
  margin-left: 100px;
  display: inline-block;
  overflow: hidden;
  position: relative
}

.content h2 {
  font-size: 50px;
  color: var(--white);
  position: relative;
}

.demo-bg {
  opacity: 0.1;
  position: absolute;
  left: 0;
  top: 0;
  width: auto;
  height: 100vh;
}

.content h4 {
  font-size: 15px;
  color: var(--white);
  font-family: 'JetBrains Mono', monospace;
  width: 400px;
  position: relative;
}

@media (max-width: 500px){
  .content {
    margin-left: 50px;
  }
  .content h2 {
    font-size: 30px;
    width: 200px;
    padding-bottom: 20px;
  }
  .content h4 {
    font-size: 15px;
    width: 300px;
  }
  .demo-bg {
    width: auto;
  }
}

.contact_links {
  margin-left: 100px;
  margin-top: 5%;
  overflow: visible;
  border: 10px white;
}

.contact_links li {
  list-style: none;
}

@media screen and (max-width: 500px) {
  .contact_links {
    margin-left: 50px;
    margin-top: 5%;
    font-size: 30px;
  }
}

.contact_links a {
  color: var(--white);
}

.contact_links a:hover {
  background-color: var(--white);
  color: var(--background);
}

/* Font awesome style ends
.reveal {
  opacity: 0;
  animation: fadeIn linear 3s infinite;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
  animation-iteration-count: infinite;
}

@keyframes fadeIn {
  0% {opacity:0;}
  50% {opacity:1;}
  100% {opacity:0;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  50% {opacity:1;}
  100% {opacity:0;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  50% {opacity:1;}
  100% {opacity:0;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  50% {opacity:1;}
  100% {opacity:0;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  50% {opacity:1}
  100% {opacity:0;}
}

#heading {
  background-color: var(--background);
  height: 100vh;
  /* padding-top: 200px; */


.heading {
  font-family: "Poppins", sans-serif;
  color: var(--white);
  padding: 10px 10px 10px 10px;
  /* margin: 0% 5% 0% 5%; */
  /* margin-top: 10%;
  margin-bottom: 5%;
  margin-left: 10%;
  margin-right: 10%; */
  /* width: 90vh; */
  height: 50vh;
}

.heading h1 {
  font-size: 2rem;
  font-weight: 400px;
}

.heading p {
  font-size: 1.1em;
  font-family: 'DM Sans', sans-serif;
  text-align: auto;
  font-weight: 200;
  text-align: right;
}

@media (max-width: 600px) {
  #heading {
    /* width: 350px; */
    margin: auto;
    height: 100vh;
  }
}

#info p {
  font-family: "DM Sans", sans-serif;
  font-size: 1.2em;
  line-height: normal;
  text-align: center;
  display: block;
  font-weight: 100;
  /* width: 100vh; */
  animation-name: right;
  animation-duration: 4s;
}

@media screen and (max-width: 500px) {
  #info {
    margin: 2em 2em 2em 2em;
  }
}

@media screen and (max-width: 400px) {
  #info {
    margin: 1em 1em 1em 1em;
  }
}
#info a {
  text-decoration: none;
  color: var(--accent);
}

/* Underline hover animation */

.hover-underline-animation {
  color: var(--accentl);
  position: relative;
  display: inline-block;
  padding: 0 2px;
}

.hover-underline-animation:after {
  content: "";
  width: 100%;
  transform: scaleX(0);
  position: absolute;
  height: 1px;
  bottom: 0px;
  background-color: var(--accent);
  left: 0;
  transition: transform 0.25s ease-out;
  transform-origin: bottom center;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom center;
}

#Project {
  background-color: var(--background);
  /* padding: 2% 0% 2% 0%; */
  height: 100vh;
  padding-top: 200px;
}

@media (max-width: 400px) {
  #Project {
    height: 100vh;
  }
}

#Project h2{
  font-family: 'Poppins', sans-serif;
  font-size: 2em;
  font-weight: 800;
  color: var(--white);
  padding: 32px;
  position: relative;
}

#Project h2::after {
  content: "";
  height: 2px;
  position: absolute;
  background-color: var(--accent);
  border-top-left-radius: 50% 100%;
      content: '';
    border-top-right-radius: 50% 100;
  z-index : -1;
  width: 45px;
  left: 48%;
}

/* Float four columns side by side */
.column {
  float: right;
  width: 25%;
  padding: 0 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  color: var(--white);
}

.column a {
  color: var(--white);
  transition: 0.3s;
  text-decoration: none;
  font-size: 1.5em;
}

.c
/* Remove extra left and right margins, due to padding in columns */
.row {
  margin: 20px 10px 20px 10px;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  font-family: "Poppins", sans-serif;
  box-shadow: 12px 12px 12px 12px rgba(0, 0, 0, 0.1), 0 -8px 12px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  color: var(--white);
  background-color: var(--background);
  display: block;
  padding: 10px;
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
  max-height: 30%;
  height: 9rem;
  transition: 0.3s;
  border: 1px solid var(--accent);
  font-size: 14px;
  border-radius: 0.5em;
}

@media (max-width: 650px) {
  .card {
    height: 8rem;
    font-size: 13px;
  }
}

.card p {
  font-size: 15px;
}

.card:hover {
  margin-top: -10px;
  background-color: var(--accent);
  color: var(--background);
  transition: 0.3s;
  cursor: pointer;
}

#Project .card:hover a {
  color: var(--background-dark);
}

.card p {
  font-weight: 1000;
}
/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.contact-me {
  padding: 0px 10px 30px 10px;
  background-color: var(--background);
}

.contact-me h1 {
  font-family: "Poppins", sans-serif;
  font-size: 1.8em;
  font-weight: 800;
  color: var(--white);
}

.contact-me p {
  font-family: "DM Sans", sans-serif;
  font-size: 1.2em;
  font-weight: 500;
  color: var(--white);
  text-align: center;
  margin: 0px 50px 20px 50px;
}

.contact-me i {
  font-size: 2em;
}

.contact__links {
  display: flex;
  justify-content: center;
}

.contact__links  {
  text-align: center;
  border-radius: 35px;
  color: var(--white);
  font-size: 21px;
}

.contact__links a {
  text-decoration: none;
  color: var(--white);
  padding: 2px;
}

.contact__links a:hover {
  color: var(--accent);
  
}
#footer {
  background-color: var(--background);
  color: var(--white);
  text-align: center;
  font-size: 1em;
  font-family: "Poppins", sans-serif;
  padding: 15px 15px 15px 15px;
  /* width: 100%; */
}
