
:root {
  --teal: #8ed8d1;
  --background-dark: #181f21;
  --background: #22292b;
  --white: #dadadd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-dark);
  font-family: "DM Sans", sans-serif;
}

li, ul, button {
  font-family: "DM Sans", sans-serif;
  font-size: 1em;
  color: var(--white);
  text-decoration: none;
}

/* header {
  display: flex;
  background-color: var(--background);
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
} */

.navbar {
  overflow: hidden;
  background-color: var(--background);
  position:absolute; /* Set the navbar to fixed position */
  
  top: 0;
  width: 100%;
  z-index: 2;
  border: none;
  outline: none;
}

.navbar a {
  float: left;
  display: block;
  color: var(--white);
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
  font-size: 17px;
  border: none;
  outline: none;
}

.navbar a:hover {
  background-color: var(--teal);
  color: var(--background-dark);
}

.navbar a.active {
  background-color: var(--background-dark);
  color: var(--white);
}

.navbar .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


.welcome-section {
  /* width: 100%; */
  font-family: 'DM Sans', sans-serif;
  color: var(--white);
  height: 100vh;
  font-size: 40px;
  justify-content: center;
  align-items: center;
  padding-bottom: 300px;
  padding-top: 300px;
  top: 80%;
  left: 50%;
}

.welcome-section h4 {
  font-family: 'DM Sans', sans-serif;
  color: #3b4244;
  font-size: 20px;
  width: 100%;
  padding: 5px;
  font-style: italic;
  margin: auto;
  text-align: center;
  height: 100vh;
}

@media (max-width: 768px) {
  .welcome-section h2 {
    font-size: 32px;
  }
  .welcome-section h4 {
    font-size: 16px;
  }
  .welcome-section {
    margin: 2em 2em 2em 2em;
    padding-top: 100px;
    padding-bottom: 100px;
    height: 30vh;
  }
}

@media (max-width: 500px) {
  .welcome-section h2 {
    font-size: 28px;
  }

  .welcome-section h4 {
    font-size: 12px;
  }
}

/* Dropdown Button */

.dropbtn {
  background-color: var(--background);
  color: var(--teal);
  padding: 15px;
  font-size: 1em;
  border-radius: 1em;
  border: none;
  cursor: pointer;
  box-shadow: 5px 0px 5px 0px #131a1c;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #131a1c;
}

span {
  color: var(--teal);
  font-weight: 400;
}

.reveal {
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease-out;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

#heading {
  font-family: "DM Sans", sans-serif;
  color: var(--white);
  padding: 10px 10px 10px 10px;
  margin: 0% 5% 0% 5%;
  /* margin-top: 10%;
  margin-bottom: 5%;
  margin-left: 10%;
  margin-right: 10%; */
  /* width: 90vh; */
  height: 50vh;
  z-index: 1;
}

@media (max-width: 400px) {
  #heading {
    height: 60vh;
  }
}
#heading h1 {
  font-size: 2rem;
}

#heading p {
  font-size: 1.1em;
  font-family: "DM Sans", sans-serif;
  text-align: auto;
  letter-spacing: 0;
}

@media (max-width: 600px) {
  #heading {
    /* width: 350px; */
    margin: auto;
  }
}

#info p {
  font-family: "DM Sans", sans-serif;
  font-size: 1.2em;
  line-height: normal;
  font-weight: 510;
  text-align: center;
  display: block;
  /* width: 100vh; */
  animation-name: right;
  animation-duration: 4s;
}

@media screen and (max-width: 500px) {
  #info {
    margin: 2em 2em 2em 2em;
  }
}
#info a {
  text-decoration: none;
  color: var(--teal);
}

/* Underline hover animation */

.hover-underline-animation {
  color: var(--teall);
  position: relative;
  display: inline-block;
  padding: 0 2px;
}

.hover-underline-animation:after {
  content: "";
  width: 100%;
  transform: scaleX(0);
  position: absolute;
  height: 1px;
  bottom: 0px;
  background-color: var(--teal);
  left: 0;
  transition: transform 0.25s ease-out;
  transform-origin: bottom center;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom center;
}

#Project {
  margin-top: 0%;
}

#Project h2{
  font-family: 'DM Sans', sans-serif;
  font-size: 2em;
  font-weight: 100;
  color: var(--white);
  padding: 32px;
  position: relative;
}

#Project h2::after {
  content: "";
  height: 2px;
  position: absolute;
  background-color: var(--teal);
  width: 45px;
  left: 48%;
  bottom: 20%;
}

/* Float four columns side by side */
.column {
  float: right;
  width: 25%;
  padding: 0 10px;
  font-family: 'DM Sans', sans-serif;
  font-size: 1em;
  color: var(--white);
}

.column a {
  color: var(--white);
  transition: 0.3s;
  text-decoration: none;
  font-size: 1.5em;
}

.c
/* Remove extra left and right margins, due to padding in columns */
.row {
  margin: 20px 10px 20px 10px;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 12px 12px 12px 12px rgba(0, 0, 0, 0.1), 0 -8px 12px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  color: var(--white);
  background-color: var(--background);
  display: block;
  padding: 10px;
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
  max-height: 30%;
  height: 8rem;
  transition: 0.3s;
  border: 1px solid var(--teal);
  font-size: 14px;
  border-radius: 0.5em;
}

@media (max-width: 650px) {
  .card {
    height: 7rem;
    font-size: 13px;
  }
}

.card p {
  font-size: 15px;
}
.card:hover {
  margin-top: -10px;
  background-color: var(--teal);
  color: var(--background);
  transition: 0.3s;
  cursor: pointer;
}

#Project .card:hover a {
  color: var(--background-dark);
}


/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.contact-me {
  padding: 30px 10px 30px 10px;
}

.contact-me h1 {
  font-family: "DM Sans", sans-serif;
  font-size: 1.8em;
  font-weight: 200;
  color: var(--white);
}

.contact-me p {
  font-family: "DM Sans", sans-serif;
  font-size: 1.2em;
  font-weight: 200;
  color: var(--white);
  text-align: center;
  margin: 20px 50px 20px 50px;
}

.contact-me i {
  font-size: 2em;
}

.contact__links {
  display: flex;
  justify-content: center;
}

.contact__links  {
  text-align: center;
  border-radius: 35px;
  color: var(--white);
  font-size: 21px;
}

.contact__links a {
  text-decoration: none;
  color: var(--white);
  padding: 2px;
}

.contact__links a:hover {
  color: var(--teal);
  
}
#footer {
  padding-top: 30px;
  background-color: var(--background);
  color: var(--white);
  text-align: center;
  font-size: 1em;
  font-family: "DM Sans", sans-serif;
  padding: 15px 15px 15px 15px;
  /* width: 100%; */
}
